html, body {
  background-color: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

.homebtn{
  box-shadow: 5px 5px 5px #000;
  width: 90%;
  height: 3.25em;
  margin: .75em;
  padding: 0;
}

.adminbtn{
  box-shadow: 5px 5px 5px #000;
  margin: .75em;
  position: absolute;
  top: .5em;
  right: .75em;
}

.formbtn{
  box-shadow: 5px 5px 5px #000;
  width: 8em;
  height: 2em;
  margin: .5em;
  padding: 0;
}


.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
            
.person:hover {
  border-color: #f1f1f1;
}

table {
 /*   font-family: arial, sans-serif;*/
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.pagedata{
  margin: 2em 2em 5em 2em;
  color:#fff;
  min-height: 5em;
  border: 2px solid black;
  padding: 0em 2em;
  box-shadow: 5px 5px 5px #000;
}  
.slidderdiv{
  margin: 2em 2em 1em 2em;
  color:#fff;
  min-height: 5em;
  border: 2px solid black;
  padding: 0em 0em;
  box-shadow: 5px 5px 5px #000;
}  

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #000;
}

.name{

font-family: 'PT Sans', sans-serif;
  font-size: 4.2em;
}

@media screen and (max-width: 600px) {
  #slidder {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}


